.app-header {
    display: flex;
    align-items: baseline;
}

.app-header Button {
    margin-left: 1rem;
}

.users-list .user-row {
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.users-list .user-row .left-side {
    display: flex;
    align-items: center;
}

.users-list .user-row .user-name-container {
    margin-left: 1rem;
}

.user-lastname{
    margin: 0 5px;
}

.add-user-modal {
    background-color: white;
    width: 50%;
    margin: 30px auto;
    border: 1px solid #ccc;
    padding: 1rem;
}

.add-user-modal .user-modal-input {
    width: 100%;
    margin-bottom: 1rem;
}

.add-user-modal .actions {
    display: flex;
    justify-content: flex-end;
}

.avatar__container{
    border-radius: 50%;
    border: 2px solid red;
}
.avatar__container.is_active{
    border: 2px solid green;
}

.right-side{
    display: flex;
}

.active__container.hidden{
    display: none;
}
